<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AccountHistoryServlet</servlet-name>
        <servlet-class>Servlet.AccountHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdvertisementServlet</servlet-name>
        <servlet-class>Servlet.AddAdvertisementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFriendServlet</servlet-name>
        <servlet-class>Servlet.AddFriendServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BestSellerServlet</servlet-name>
        <servlet-class>Servlet.BestSellerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerGroupServlet</servlet-name>
        <servlet-class>Servlet.CustomerGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerServlet</servlet-name>
        <servlet-class>Servlet.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdvertisementServlet</servlet-name>
        <servlet-class>Servlet.DeleteAdvertisementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePersonalPostServlet</servlet-name>
        <servlet-class>Servlet.DeletePersonalPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerServlet</servlet-name>
        <servlet-class>Servlet.EditCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeAdvertisementServlet</servlet-name>
        <servlet-class>Servlet.EmployeeAdvertisementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoToFriendListServlet</servlet-name>
        <servlet-class>Servlet.GoToFriendListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoToFriendPersonalPageServlet</servlet-name>
        <servlet-class>Servlet.GoToFriendPersonalPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoToHomeEmployeeServlet</servlet-name>
        <servlet-class>Servlet.GoToHomeEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoToHomeServlet</servlet-name>
        <servlet-class>Servlet.GoToHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoToMessagePageServlet</servlet-name>
        <servlet-class>Servlet.GoToMessagePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoToPostListServlet</servlet-name>
        <servlet-class>Servlet.GoToPostListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoToRegisterServlet</servlet-name>
        <servlet-class>Servlet.GoToRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInEmployeeServlet</servlet-name>
        <servlet-class>Servlet.LogInEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>Servlet.LogInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutEmployeeServlet</servlet-name>
        <servlet-class>Servlet.LogOutEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>Servlet.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailingListServlet</servlet-name>
        <servlet-class>Servlet.MailingListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessageServlet</servlet-name>
        <servlet-class>Servlet.SendMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendUserPostServlet</servlet-name>
        <servlet-class>Servlet.SendUserPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTransactionServlet</servlet-name>
        <servlet-class>Servlet.ViewTransactionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountHistoryServlet</servlet-name>
        <url-pattern>/AccountHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdvertisementServlet</servlet-name>
        <url-pattern>/AddAdvertisementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFriendServlet</servlet-name>
        <url-pattern>/AddFriendServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BestSellerServlet</servlet-name>
        <url-pattern>/BestSellerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerGroupServlet</servlet-name>
        <url-pattern>/CustomerGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerServlet</servlet-name>
        <url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdvertisementServlet</servlet-name>
        <url-pattern>/DeleteAdvertisementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePersonalPostServlet</servlet-name>
        <url-pattern>/DeletePersonalPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerServlet</servlet-name>
        <url-pattern>/EditCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeAdvertisementServlet</servlet-name>
        <url-pattern>/EmployeeAdvertisementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoToFriendListServlet</servlet-name>
        <url-pattern>/GoToFriendListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoToFriendPersonalPageServlet</servlet-name>
        <url-pattern>/GoToFriendPersonalPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoToHomeEmployeeServlet</servlet-name>
        <url-pattern>/GoToHomeEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoToHomeServlet</servlet-name>
        <url-pattern>/GoToHomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoToMessagePageServlet</servlet-name>
        <url-pattern>/GoToMessagePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoToPostListServlet</servlet-name>
        <url-pattern>/GoToPostListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoToRegisterServlet</servlet-name>
        <url-pattern>/GoToRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInEmployeeServlet</servlet-name>
        <url-pattern>/LogInEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutEmployeeServlet</servlet-name>
        <url-pattern>/LogOutEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailingListServlet</servlet-name>
        <url-pattern>/MailingListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessageServlet</servlet-name>
        <url-pattern>/SendMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendUserPostServlet</servlet-name>
        <url-pattern>/SendUserPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTransactionServlet</servlet-name>
        <url-pattern>/ViewTransactionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
